<!DOCTYPE html>
<html>
  <head>
    <title>Socket-Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js"></script>
    <script
      src="https://cdn.socket.io/4.6.0/socket.io.min.js"
      integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io();
      socket.on("connect", function () {
        socket.emit("my_event", { data: "connected to the SocketServer..." });
      });
      function setup() {
        let cnv = createCanvas(displayWidth, displayHeight);
        cnv.parent("wordle_canvas");
        background(0, 0, 0);
      }
      function draw() {
        background(0, 0, 0);
        fill(255, 255, 255);
        circle(mouseX, mouseY, 200);
        if (mouseX != 0 && mouseY != 0) {
          socket.emit("position", { data: { mouseX: mouseX, mouseY: mouseY } });
        }
      }
      function mouseClicked() {
        socket.emit("clicked", { data: { mouseX: mouseX, mouseY: mouseY } });
      }
    </script>
  </head>
  <body style="background-color: white">
    <h1 style="background-color: white">Socket</h1>
    <div
      id="wordle_canvas"
      style="display: flex; justify-content: center"
    ></div>
    <form id="emit" method="POST" action="#">
      <input
        type="text"
        name="emit_data"
        id="emit_data"
        placeholder="Message"
      />
      <input type="submit" value="Send Message" />
    </form>
    <form id="broadcast" method="POST" action="#">
      <input
        type="text"
        name="broadcast_data"
        id="broadcast_data"
        placeholder="Message"
      />
      <input type="submit" value="Send Broadcast Message" />
    </form>

    <form id="disconnect" method="POST" action="#">
      <input type="submit" value="Disconnect Server" />
    </form>
    <h2 style="background-color: white">Logs</h2>
    <div id="log"></div>
  </body>
</html>
